.logo-container {
    display: flex;
    position: relative; 
    margin-bottom: 50px;
    margin-left: 5%;    
}    

.logo-img {
    width: 210px;
    height: 68px;
    margin-top: 45px;

    @media (max-width: 768px) {
        width: 145px;
        margin-top: 15px;
    }
}